ASIC_Design/cnvlutin/db/*
ASIC_Design/cnvlutin/incremental_db/**
ASIC_Design/cnvlutin/output_files/*
ASIC_Design/cnvlutin/simulation/questa/gate_work/*
ASIC_Design/cnvlutin/simulation/questa/rtl_work/*
ASIC_Design/Quartus/**
ASIC_Design/Tutorials/*

Papers/**

Old_Models/CIFAR10_AlexNet/adversarial_data/*
Old_Models/CIFAR10_AlexNet/data/*
Old_Models/CIFAR10_AlexNet/models/*
Old_Models/CIFAR100_GoogleNet/adversarial_data/*
Old_Models/CIFAR100_GoogleNet/checkpoint/*
Old_Models/CIFAR100_GoogleNet/data/**
Old_Models/ImageNet_ViT/**
Old_Models/MNIST_LeNet5/adversarial_data/*.pt*
Old_Models/MNIST_LeNet5/test/MNIST/*
Old_Models/MNIST_LeNet5/train/MNIST/*
Old_Models/ImageNet_Vgg16/data/val224.pkl
Old_Models/ImageNet_Vgg16/models/*.pth
Old_Models/ImageNet_Resnet18/imagenet/data/val224.pkl
Old_Models/ImageNet_Resnet18/models/*.pth
Old_Models/ImageNet/*.tar

GAN/MNIST/1_train/fake_sample_images/*.png
GAN/MNIST/1_train/real_sample_images/*.png
GAN/MNIST/1_train/weight_dir/*.pth
GAN/MNIST/2_test_clean/fake_sample_images/*.png
GAN/MNIST/2_test_clean/real_sample_images/*.png
GAN/MNIST/3_convert_dirt_dataset_batch_one/*.pt
GAN/MNIST/4_test_dirty/*.pt
GAN/MNIST/4_test_dirty/fake_sample_images/*.png
GAN/MNIST/4_test_dirty/real_sample_images/*.png
GAN/MNIST/mnist_dataset/**

GAN/CIFAR10/cifar10_dataset/**
GAN/CIFAR10/1_train/fake_sample_images/*.png
GAN/CIFAR10/1_train/real_sample_images/*.png
GAN/CIFAR10/1_train/weight_dir/*.pth
GAN/CIFAR10/2_test_clean/z_sets/*.pt
GAN/CIFAR10/2_test_clean/z_stars/*.pt

Models/MNIST_LeNet5/mnist_dataset/**
Models/MNIST_LeNet5/2_copy_weight/*.pkl
Models/MNIST_LeNet5/3_attack/*.pt
Models/MNIST_LeNet5/5_profile/profile_data/*.pt
Models/MNIST_LeNet5/6_adv_attack_detect/adversarial_data/*.pt
Models/MNIST_LeNet5/7_power_delay/adversarial_data/*.pt

Models/MNIST_Model1/mnist_dataset/**
Models/MNIST_Model1/1_train_model1/weights/*.pth
Models/MNIST_Model1/2_copy_weight/*.pkl
Models/MNIST_Model1/3_attack/*.pt
Models/MNIST_Model1/4_power_delay/adversarial_data/*.pt
Models/MNIST_Model1/4_power_delay/weights/*.pkl

Models/FMNIST_LeNet5/fmnist_dataset/**
Models/FMNIST_LeNet5/1_train_test/weights/*.pth
Models/FMNIST_LeNet5/2_copy_weight/*.pkl
Models/FMNIST_LeNet5/3_attack/*.pt
Models/FMNIST_LeNet5/4_profile/profile_data/*.pt
Models/FMNIST_LeNet5/5_detection/adversarial_data/*.pt

Models/CIFAR10_AlexNet/cifar10_dataset/*
Models/CIFAR10_AlexNet/3_copy_weight/*.pkl
Models/CIFAR10_AlexNet/5_profile/profile_data/*.pt
Models/CIFAR10_AlexNet/6_detection/adversarial_data/*.pt

Models/CIFAR10_Model2/cifar10_dataset/**
Models/CIFAR10_Model2/1_train_model2/weights/*.pth
Models/CIFAR10_Model2/2_copy_weight/*.pkl
Models/CIFAR10_Model2/3_attack/*.pt
Models/CIFAR10_Model2/4_power_delay/adversarial_data/*.pt
Models/CIFAR10_Model2/4_power_delay/weights/*.pkl

Models/CIFAR100_GoogleNet/cifar100_dataset/*
Models/CIFAR100_GoogleNet/1_train_test/weight_dir/*.pkl
Models/CIFAR100_GoogleNet/2_copy_weight/*.pkl
Models/CIFAR100_GoogleNet/4_profile/profile_data/*.pt
Models/CIFAR100_GoogleNet/5_detection/adversarial_data/*.pt

Models/ImageNet_Vgg16/1_train_test/weights/*.pth
Models/ImageNet_Vgg16/1_train_test/checkpoints/*.pth
Models/ImageNet_Vgg16/1_train_test/data/*.pkl
Models/ImageNet_Vgg16/2_copy_weight/*.pkl
Models/ImageNet_Vgg16/3_attack/*.pt
Models/ImageNet_Vgg16/4_profile/profile_data/*.pt
Models/ImageNet_Vgg16/5_detection/adversarial_data/*.pt

Models/ImageNet_ResNet18/1_train_test/weights/*.pth
Models/ImageNet_ResNet18/1_train_test/checkpoints/*.pth
Models/ImageNet_ResNet18/2_copy_weight/*.pkl
Models/ImageNet_ResNet18/3_attack/*.pt
Models/ImageNet_ResNet18/4_profile/profile_data/*.pt
Models/ImageNet_ResNet18/5_detection/adversarial_data/*.pt

Models/Imagenet_dataset/*

/home/administrator/Projects/Energy_Attack/.gitignore
**__pycache__**
*.qpf
*.sft
*.vo
*.do
*.bak*
*.wlf
*.txt
*.rpt
*.qsf
*.qws
*.qdf

