Mohammad/ASIC_Design/cnvlutin/db/*
Mohammad/ASIC_Design/cnvlutin/incremental_db/**
Mohammad/ASIC_Design/cnvlutin/output_files/*
Mohammad/ASIC_Design/cnvlutin/simulation/questa/gate_work/*
Mohammad/ASIC_Design/cnvlutin/simulation/questa/rtl_work/*
Mohammad/ASIC_Design/Quartus/**
Mohammad/ASIC_Design/Tutorials/*
Mohammad/Papers/
Mohammad/Pretrained_Models/CIFAR10_AlexNet/adversarial_data/*
Mohammad/Pretrained_Models/CIFAR10_AlexNet/data/*
Mohammad/Pretrained_Models/CIFAR10_AlexNet/models/*
Mohammad/Pretrained_Models/CIFAR100_GoogleNet/adversarial_data/*
Mohammad/Pretrained_Models/CIFAR100_GoogleNet/checkpoint/*
Mohammad/Pretrained_Models/CIFAR100_GoogleNet/data/**
Mohammad/Pretrained_Models/ImageNet_ViT/**
Mohammad/Pretrained_Models/MNIST_LeNet5/adversarial_data/*.pt*
Mohammad/Pretrained_Models/MNIST_LeNet5/test/MNIST/*
Mohammad/Pretrained_Models/MNIST_LeNet5/train/MNIST/*
Mohammad/Pretrained_Models/ImageNet_Vgg16/data/val224.pkl
Mohammad/Pretrained_Models/ImageNet_Vgg16/models/*.pth
Mohammad/Pretrained_Models/ImageNet_Resnet18/imagenet/data/val224.pkl
Mohammad/Pretrained_Models/ImageNet_Resnet18/models/*.pth
Mohammad/Pretrained_Models/ImageNet/*.tar

Mohammad/GAN/MNIST/1_train/fake_sample_images/*.png
Mohammad/GAN/MNIST/1_train/real_sample_images/*.png
Mohammad/GAN/MNIST/1_train/weight_dir/*.pth
Mohammad/GAN/MNIST/2_test_clean/fake_sample_images/*.png
Mohammad/GAN/MNIST/2_test_clean/real_sample_images/*.png
Mohammad/GAN/MNIST/3_convert_dirt_dataset_batch_one/*.pt
Mohammad/GAN/MNIST/4_test_dirty/*.pt
Mohammad/GAN/MNIST/4_test_dirty/fake_sample_images/*.png
Mohammad/GAN/MNIST/4_test_dirty/real_sample_images/*.png
Mohammad/GAN/MNIST/mnist_dataset/**

Mohammad/GAN/CIFAR10/cifar10_dataset/**
Mohammad/GAN/CIFAR10/1_train/fake_sample_images/*.png
Mohammad/GAN/CIFAR10/1_train/real_sample_images/*.png
Mohammad/GAN/CIFAR10/1_train/weight_dir/*.pth
Mohammad/GAN/CIFAR10/2_test_clean/z_sets/*.pt
Mohammad/GAN/CIFAR10/2_test_clean/z_stars/*.pt

Ehsan/MNIST_LeNet5/2_copy_weight/*.pkl
Ehsan/MNIST_LeNet5/dataset/*
Ehsan/MNIST_LeNet5/3_attack/*.pt
Ehsan/MNIST_LeNet5/5_profile/profile_data/*.pt
Ehsan/MNIST_LeNet5/6_adv_attack_detect/adversarial_data/*.pt
Ehsan/MNIST_LeNet5/7_power_calculation/adversarial_data/*.pt

Ehsan/CIFAR10_AlexNet/3_copy_weight/*.pkl
Ehsan/CIFAR10_AlexNet/cifar10_dataset/*
Ehsan/CIFAR10_AlexNet/5_profile/profile_data/*.pt
Ehsan/CIFAR10_AlexNet/6_detection/adversarial_data/*.pt

Ehsan/CIFAR100_GoogleNet/1_train_test/weight_dir/*.pkl
Ehsan/CIFAR100_GoogleNet/2_copy_weight/*.pkl
Ehsan/CIFAR100_GoogleNet/cifar100_dataset/*
Ehsan/CIFAR100_GoogleNet/4_profile/profile_data/*.pt
Ehsan/CIFAR100_GoogleNet/5_detection/adversarial_data/*.pt

Ehsan/ImageNet_Vgg16/1_train_test/weights/*.pth
Ehsan/ImageNet_Vgg16/1_train_test/checkpoints/*.pth
Ehsan/ImageNet_Vgg16/1_train_test/data/*.pkl
Ehsan/ImageNet_Vgg16/2_copy_weight/*.pkl
Ehsan/ImageNet_Vgg16/3_attack/*.pt
Ehsan/ImageNet_Vgg16/4_profile/profile_data/*.pt
Ehsan/ImageNet_Vgg16/5_detection/adversarial_data/*.pt

Ehsan/ImageNet_ResNet18/1_train_test/weights/*.pth
Ehsan/ImageNet_ResNet18/1_train_test/checkpoints/*.pth
Ehsan/ImageNet_ResNet18/2_copy_weight/*.pkl
Ehsan/ImageNet_ResNet18/3_attack/*.pt
Ehsan/ImageNet_ResNet18/4_profile/profile_data/*.pt
Ehsan/ImageNet_ResNet18/5_detection/adversarial_data/*.pt

Ehsan/Imagenet_dataset/*

**__pycache__**
*.qpf
*.sft
*.vo
*.do
*.bak*
*.wlf
